body{
	background-color: #dddddd;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#canvas{
	background-image: url(soccar.avif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}